<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Borel&family=Kosugi+Maru&family=Rubik+Iso&display=swap"
		rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Borel&family=Kosugi+Maru&display=swap" rel="stylesheet">
	<title>申込み確認</title>
	<link rel="stylesheet" th:href="@{/css/user_header.css}">
	<link rel="stylesheet" th:href="@{/css/user_style.css}">
</head>

<body>
	<header>
		<div class="header-menu">
			<ul>
				<li>ユーザー名</li>
				<li>ホーム</li>
				<li>カート</li>
				<li>マイページ</li>
				<li>ログアウト</li>
			</ul>
		</div>
		<div>
			<h3 class="title">Lecture</h3>
		</div>
	</header>
	<main>
		<div class="register-check">
			<h2>お申込み内容確認</h2>
			<div>
				<div class="con-user">
					<h4>会員情報</h4>
					<p>ユーザー名：John Doe</p>
					<p>メールアドレス：john@example.com</p>
				</div>
				<button class="change">変更</button>
				<div class="con-lecture">
					<h4>お申込み講座</h4>
					<img src="IMG_6819.jpg" alt="">
					<p>講座名：コンピュータサイエンス入門</p>
					<p>日時：2023年9月1日 10:00 - 12:00</p>
				</div>
				<button class="change">変更</button>
				<div class="con-pay">
					<h5>お支払い方法</h5>
					<p>選択した支払方法：<span th:text="${session.paymentMethod}"></span></p>
				</div>
				<button class="pay-change">変更</button>
				<form th:action="@{/payment_success}" method="post">
					<button class="all-check" type="submit">確認</button>
					<button class="all-back" type="button">戻る</button>
				</form>
			</div>
		</div>
	</main>

	<footer>
		<p class="foot"> Copyright &copy; 2023 </p>
	</footer>
</body>

</html>