
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #274a78;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    /*ページの一番上に固定*/
    position: fixed;
    top: 0;
}
header .user-info {
    float: right;
    padding-left: 20px;
}
header .actions {
    float: right;
    padding-right: 20px;
}
main {
    padding: 20px;
    margin-top: 210px;
}
.con-lecture {
    border: 1px solid #274a78;
    padding: 20px;
    margin-bottom: 20px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="button"], button {
    padding: 10px 20px;
    background-color: #274a78;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
form{
    display: flex;
    gap: 0 20px;
}
footer {
    background-color: #274a78;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    /*ページの一番下に固定*/
    position: fixed;
    bottom: 0;
}
button{
    background-color: #274a78;
    color: white;
    cursor: pointer; /*カーソル*/
    transition: .3s; /*なめらか変化*/
}
button:hover {
    color: #274a78;
    background-color: white;
}