<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Borel&family=Kosugi+Maru&family=Rubik+Iso&display=swap"
		rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Borel&family=Kosugi+Maru&display=swap" rel="stylesheet">
	<title>支払い完了</title>
	<link rel="stylesheet" th:href="@{/css/user_header.css}">
	<link rel="stylesheet" th:href="@{/css/user_style.css}">
</head>

<body>
	<header class="header">
		<h1>支払い完了</h1>
	</header>
	<main>
		<p>支払いが正常に処理されました。</p>
		<p>支払い方法： <span th:text="${paymentMethod}"></span></p>
		<p>カードの残高は：<span th:text="${zandaka}"></span></p>
		<button class="pay-check" onclick="location.href='/user/menu'">閉じる</button>
	</main>
	<footer>
		<p>&copy; 2023 〇〇学院</p>
	</footer>
</body>

</html>