<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <div>
            <h2>管理者ログイン</h2>
            <label for="admin_name">管理者名</label><br>
            <input type="text" id="admin_name" name="admin_name" required><br>

            <label for="admin_password">パスワード</label><br>
            <input type="password" id="admin_password" name="admin_password" placeholder="" required><br>
            <a href="#">パスワードを忘れた場合</a>
            <br>
            <input type="submit" value="ログイン" />
            <br>
            <a href="#">登録</a>
        </div>
    </form>
</body>
</html>