<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>管理者ログイン</title>
	<link rel="stylesheet" th:href="@{/css/admin.css}">
</head>

<body>
	<header></header>
	<main>
		<section>
			<h1>管理者ログイン</h1>
			<div class="admin">
				<form th:action="@{/admin/login/process}" method="post">
					<label for="adminName">管理者名</label>
					<input type="text" id="adminName" name="adminName" required>

					<label for="adminPassword">パスワード</label>
					<input type="password" id="adminPassword" name="adminPassword" required>

					<a th:href="@{/password/reset}">パスワードを忘れた場合</a>

					<button type="submit">ログイン</button>
					
					<a th:href="@{/admin/register}">登録</a>
				</form>
			</divclass>
		</section>
	</main>
	<footer>
		<small>COPYRIGHT&copy;2023TeamC</small>
	</footer>
</body>

</html>