<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>講座の登録が完了しました</title>
    <link rel="stylesheet" href="lecture_fix.css">
</head>

<body>
    <header>
        <div class="link">
            <p>管理者名</p>
            <ul>
                <a href="">講座一覧</a>
                <a href="">講座登録</a>
                <a href="">マイページ</a>
                <a href="">ログアウト</a>
            </ul>
        </div>
    </header>
    <main>
        <section>
            <div>
                <h1>講座の登録が完了しました</h1>
            </div>
            <div>
                <button type="submit">もう一度登録</button>
                <button type="submit">講座一覧へ戻る</button>
            </div>
        </section>
    </main>
    <footer>
        <small>COPYRIGHT&copy;2023TeamC</small>
    </footer>
</body>

</html>