<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Password reset</title>
</head>

<body>
	<header>
		<u>パスワードリセット</u>
	</header>

	<main>
		<form th:action="@{/password/reset/sencode}" method="post">

			<label for="email">メールアドレス</label>
			<input type="email" id="email" name="email" placeholder="メールアドレスを入力してください" required>
			
			<div class="captcha-container">
				<img src="/captcha" alt="CAPTCHA Image" id="captchaImage">
				<input type="text" id="captchaValue" name="captchaValue" placeholder="CAPTCHA" required>
				<button type="button" id="refreshCaptcha">更新</button>
			</div>
			<br>

			<div class="verification-code-container">
				<input type="text" id="verificationCodeInput" name="verificationCode" placeholder="認証コード" required>
				<button type="button" id="sendCodeButton">発送</button>
			</div>
			<br>
			<button type="submit" formaction="/password/reset/verify">確認</button>
		</form>
	</main>

	<footer>

	</footer>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:inline="javascript">
		$(document).ready(function () {
			// 初始状态下禁用验证码输入
			$("#verificationCodeInput").prop("disabled", true);

			// 当邮箱输入框内容变化时
			$("#email").on("input", function () {
				var email = $("#email").val();

				if (email !== "") {
					$("#sendCodeButton").prop("disabled", false);
				} else {
					$("#sendCodeButton").prop("disabled", true);
				}
			});

			// 点击更新CAPTCHA图片按钮
			$("#refreshCaptcha").click(function () {
				$("#captchaImage").attr("src", "/captcha?" + new Date().getTime());
			});

			// 点击发送验证码按钮
			$("#sendCodeButton").click(function () {
				var email = $("#email").val();
				var captchaValue = $("#captchaValue").val();
				if (email !== "" && captchaValue !== "") {
					$.post("/password/reset/sencode", {email: email, captchaValue: captchaValue}, function (response) {
						if (response === "success") {
							alert("認証コードは発送しました、メールをチェックしてください");
							// 显示验证码输入框
							$("#verificationCodeInput").prop("disabled", false);
						} else if (response === "captcha_error") {
							alert("CAPTCHA入力が間違っています。再度入力してください");
						} else {
							alert("認証コードの発送は失敗しました、正しいメールアドレスを確認してください");
						}
					});
				} else {
					alert("メールアドレスとCAPTCHAを入力してください");
				}
			});
		});
	</script>
</body>

</html>
