<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{user_login.css}">
    <title>Document</title>
    <style>
        
        header {
            background-color: aquamarine;
            color: aliceblue;
            padding: 10px;
            text-align: center;
        }
        h1{
            margin: 0;
        }
        img{
            width: 100px;
            height: auto;
        }

    </style>
</head>
<header>
    <img src="/Users/zhao.xu/Desktop/bg.jpg" alt="网站logo">
</header>
<body>
     <form th:action="@{/lesson/list}" method="post">
        <div id="container">
            <h2>ログイン</h2>
            <label for="student_name">メールアドレス</label><br>
            <input type="text" id="student_name" name="student_name" required><br>

            <label for="student_password">パスワード</label><br>
            <input type="password" id="student_password" name="student_password" placeholder="" required><br>
            <a class="forget_pass" href="#">パスワードを忘れた場合</a>
            <br>
            <input type="submit" value="ログイン" />
            <a href="#">登録</a>
            <br>
            
        </div>
    </form>
</body>
</html>