<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Borel&family=Kosugi+Maru&family=Rubik+Iso&display=swap"
		rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Borel&family=Kosugi+Maru&display=swap" rel="stylesheet">
	<title>講座一覧</title>
	<link rel="stylesheet" th:href="@{/css/user_header.css}">
	<link rel="stylesheet" th:href="@{/css/user_style.css}">
</head>

<body>
	<header>
		<header class="header">
			<div class="header-menu" th:if="${loginFlg}">
				<ul>
					<li th:text="${userName}"></li>
					<li><a th:href="@{/user/menu}">ホーム</a></li>
					<li><a th:href="@{/user/show/cart}">カート</a></li>
					<li><a th:href="@{/user/mypage}">マイページ</a></li>
					<li><a th:href="@{/student/logout}">ログアウト</a></li>
				</ul>
			</div>
			<div class="header-menu" th:if="${!loginFlg}">
				<ul>
					<li><a th:href="@{/user/menu}">ホーム</a></li>
					<li><a th:href="@{/student/login}">カート</a></li>
					<li><a th:href="@{/student/login}">マイページ</a></li>
					<li><a th:href="@{/student/login}">ログイン</a></li>
				</ul>
			</div>
			<div>
				<h3 class="title">Lecture</h3>
			</div>
		</header>
	</header>
	<main>
		<section class="lecture-list-section">
			<h2>講座一覧</h2>
			<div class="lecture-list-flex">
				<article class="lecture-topic-article">
					<ul class="user-menu">
						<li th:each="lesson:${lessonList}" class="user-menu-list">
							<a th:href="@{/user/lesson/detail/{lessonId}(lessonId=${lesson.lessonId})}">
								<img th:src="@{/lesson-img/{items}(items=${lesson.imageName})}">
								<h4 th:text="${lesson.lessonName}"></h4>
								<p
									th:text="${#temporals.format(lesson.startDate, 'yyyy/MM/dd')}+'('+${#temporals.dayOfWeekName(lesson.startDate)}+')'">
								</p>
								<p
									th:text="${#temporals.format(lesson.startTime, 'HH:mm')}+'-'+${#temporals.format(lesson.finishTime, 'HH:mm')}">
								</p>
								<p th:text="${lesson.lessonFee}"></p>
								<p th:text="${lesson.lessonDetail}"></p>
								<input type="hidden" th:value="${lesson.lessonId}" name="lessonId">
							</a>
						</li>
					</ul>
				</article>
			</div>
		</section>
	</main>
	<footer>
		<p class="foot"> Copyright &copy; 2023 </p>
	</footer>
</body>

</html>