<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Borel&family=Kosugi+Maru&family=Rubik+Iso&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Borel&family=Kosugi+Maru&display=swap" rel="stylesheet">
    <title>マイページ</title>
    <link rel="stylesheet" th:href="@{/css/user_header.css}">
	<link rel="stylesheet" th:href="@{/css/user_style.css}">
</head>

<body>
    <header class="header">
        <div class="header-menu">
            <ul>
                <li>ユーザー名</li>
                <li>ホーム</li>
                <li>カート</li>
                <li>マイページ</li>
                <li>ログアウト</li>
            </ul>
        </div>
        <div>
            <h3 class="title">Lecture</h3>
        </div>
    </header>
    <main>
        <form th:action="@{/student/login/process}" method="post">
            <div class="mypage">
                <h2>マイページ</h2>
                <div class="user-information">
                    <div class="user-inf">
                        <h4>会員情報</h4>
                        <p>名前：<span th:text="${session.userName}"></span></p>
                        <p>メールアドレス：<span th:text="${session.userEmail}"></span></p>
                    </div>
                    <button class="change-inf" type="button">変更</button>

                </div>
                <div class="pay-history">
                    <h4>購入履歴</h4>
                    <img src="IMG_6819.jpg" alt="">
                    <p>講座名：java</p>
                    <p>購入日：2023/08/30</p>
                    <p>金額：12000円</p>
                </div>
            </div>
        </form>
    </main>
    <footer>
        <p class="foot"> Copyright &copy; 2023 </p>
    </footer>
</body>

</html>