<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Borel&family=Kosugi+Maru&family=Rubik+Iso&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Borel&family=Kosugi+Maru&display=swap" rel="stylesheet">
	<title>決済方法の選択</title>
	<link rel="stylesheet" th:href="@{/css/user_header.css}">
    <link rel="stylesheet" th:href="@{/css/user_style.css}">


</head>

<body>
	<header class="header">
		<div class="header-menu">
			<ul>
				<li>ユーザー名</li>
				<li>ホーム</li>
				<li>カート</li>
				<li>マイページ</li>
				<li>ログアウト</li>
			</ul>
		</div>
		<div>
			<h3 class="title">Lecture</h3>
		</div>
	</header>

	<main>
		 <div class="pay-select">
		<h2>決済方法の選択</h2>
			<form th:action="@{/process}" method="post">

				<label for="check1" name="check1">
					<input type="radio" class="check1" name="paymentMethod" value="クレジットカード" id="check1">
					クレジットカード
				</label>
				<label for="check2" name="check2">
					<input type="radio" class="check2" name="paymentMethod" value="コンビニ支払い(前払い)" id="check2">
					コンビニ支払い(前払い)
				</label>
				<label for="check3" name="check3">
					<input type="radio" class="check3" name="paymentMethod" value="郵便振替" id="check3">
					郵便振替
				</label>
				<label for="check4" name="check4">
					<input type="radio" class="check4" name="paymentMethod" value="銀行振込" id="check4">
					銀行振込
				</label>
				<label for="check5" name="check5">
					<input type="radio" class="check5" name="paymentMethod" value="代金引換" id="check5">
					代金引換
				</label>

				<button type="submit" class="pay-check">確認</button>
				<button class="pay-back" type="button">戻る</button>
			</form>
		
		</div>
	</main>

	<footer>
		<p class="foot"> Copyright &copy; 2023 </p>
	</footer>
</body>

</html>