<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecture Edit</title>
    <link rel="stylesheet" href="lecture_fix.css">
</head>

<body>
    <header>
        <ul></ul>
    </header>
    <main>
        <section>
            <div>
                <h1>講座の変更が完了しました</h1>
            </div>
            <div>
                <button type="submit">講座変更を続ける</button>
                <button type="submit" onclick="history.back">講座一覧へ戻る</button>
            </div>
        </section>
    </main>
    <footer>
        <small>COPYRIGHT&copy;2023TeamC</small>
    </footer>
</body>

</html>