<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <u>ユーザー情報確認</u>
    </header>
    <main>
        <form th:action="@{/student/register/process}" method="post">
			
            <label for="studentName">ユーザー名</label>
            <input type="text" name="studentName" th:value="${studentName}">

            <label for="studentEmail">メールアドレス</label>
            <input type="text" name="studentEmail" th:value="${studentEmail}">

            <label for="studentPassword">パスワード</label>
            <input type="text" name="studentPassword" th:value="${studentPassword}">

            <input type="submit" value="確認">

        </form>
    </main>

        <div>
            <p>
                <input type="button" value="修正" /><!--戻る-->
            </p>
        </div>
        
		<footer id="footer">
            <p>&copy; 2023 〇〇学院</p>
        </footer>
</body>
</html>