<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
    <div class="car">
        <div class="good">
        <table><tr><td>商品名称</td><td>価格</td><td >個数</td><td >操作</td></tr></table>
        </div>
        <div class="goods">
        <table><tr><td >test</td><td >99</td><td>1</td><td><a><button class="btn1">削除</button></a></td></tr></table>
        </div>
        <div class="goods">
        <table><tr><td>test2</td><td >99</td><td >1</td><td ><a><button class="btn1">削除</button></a></td></tr></table>
        </div>
        <div class="goods2">
        <table><tr><td ></td><td >小計：</td><td>数量：</td></tr></table>
        </div>
        <div class="goods1">
        <table><tr><td ><button class="btn2">購入</button></td><td><button class="btn3">削除</button></td></tr></table>
        </div>
        </div>
    </main>
</body>
</html>