<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>lecture delete</title>
    <link rel="stylesheet" href="lecture_fix.css">
</head>
<body>
    <header>
        <ul></ul>
    </header>

    <main>
        <section>
            <div>
                <h1>削除成功した</h1>
            </div>
            <div>
                <a href="lecture_list.html">一覧に戻る</a>
            </div>
        </section>
    </main>

    <footer>
        <small>COPYRIGHT&copy;2023TeamC</small>
    </footer>
</body>
</html>

