<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change</title>
</head>
<body>
    <header>
		<ul></ul>
    </header>
    <main>
        <u>パスワード変更</u>

        <form action="" method="post">
            <label for="">新しいパスワード</label>
            <input type="text" placeholder="新しいパスワードを入力してください！" required>
            <br>
            <label for="">新しいパスワード(確認用)</label>
            <input type="text" placeholder="新しいパスワードを入力してください！" required>

            <button>変更</button>
        </form>

    </main>
    <footer>

    </footer>
</body>
</html>